<div class="row">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header">
         <ul class="nav nav-pills card-header-pills">
           <li class="nav-item mr-auto">
             <%= link_to post.user.email, user_posts_path(post.user), class: "nav-link", id: "post-email-#{post.id}"%>
           </li>
           <% if current_user == post.user %>
                <li class="nav-item">
                    <%= link_to 'Edit', edit_user_post_path(post.user, post), class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Destroy', user_post_path(post.user, post), method: :delete, class: "nav-link" %>
                </li>   
            <% end %>
        </ul>
      </div>
      <div class="card-body">
        <img src="<%= post.image_url %>" class="card-img-top order-<%= defined?(post_counter) ? post_counter : "" %> post-<%= post.id %>" alt="...">
      </div>
      <div class="card-footer">
        <p class="card-text"><strong><%= post.user.email %></strong> <%= post.caption %></p>
        <p class="card-text small"><%= post.created_at %></p>

      </div>
    </div>
  </div>
</div>
